/node_modules
/public/hot
/public/storage
/public/uploads/images/avatars/*
/public/uploads/images/content/thumbnail/*
/public/uploads/images/content/image-content/*
/public/uploads/images/profile/history/*
/public/uploads/images/profile/image-content-history/*
/public/uploads/images/profile/image-content-jobandfunc/*
/public/uploads/images/profile/jobandfunction/*
/public/uploads/images/profile/employee-photo/*
/public/uploads/images/training/collaboration-logo/*

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
